@media only screen and (min-width: 1024px) {
    .calendar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-height: 70vh;
        padding-top: 10vh;
        max-width: 80%;
    }

    #deletor {
        margin-left: 2rem;
    }

    .calendar-form {
        margin-top: 2rem;
        flex: 1;
        margin: 0rem;
    }

    .calendar-task-row {
        margin-top: 2rem;
    }

    /* Optional: Styling for items inside calendar-task-row */
    .calendar-task {
        padding: 1rem;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 380px) and (max-width: 1020) {
    .calendar {
        position: fixed;
        top: 10%;
        left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        gap: 1rem;
        margin: 0;
        zoom: 1.6;
    }

    .calendar-form {
        margin-top: 2rem;
        max-width: 80%;
        margin: 0rem;
        gap: 1rem;
        height: 60%;
    }

    .calendar-form Button {
        margin-top: 0.5rem;
        margin-left: 2rem;
    }

    .calendar-task-row {
        margin-top: 1rem;
    }

    .calendar-task {
        padding: 1rem;
        width: 100%;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-top: 1rem;
    }

    #deletor {
        margin-left: 2rem;
    }

}