@media only screen and (min-width: 1024px) {   
    .catalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
        background-color: gray;
      }
    
      .catalog--card {
        background-color: aliceblue;
        flex: 1 1 40%;
        border: 1px solid;
        padding: 1rem;
        margin-bottom: 0.2rem;
        justify-content: center;
        text-align: left;
        width: 40%;
      }
    
      .catalog--card h3 {
        padding: 0.5rem;
        background: lightblue
      }
    
      .catalog--card input {
        width: 5rem;
        margin-right: 10px;
        line-height: 2rem;
        padding: 0.5rem;
        text-align: center;
      }
    
      .catalog--card button {
        margin-top: 1rem;
      }
    
      .theBasket {
        display:flex;
        flex-direction: column;
        background-color: gray;
        max-height: 45rem;
        padding:1rem;
        overflow: auto;
        border-radius: 0.5rem;      
      }

      .theBasket--buttons {
        display: flex;
        width:fit-content;
        margin-top:1rem;
        gap:1rem;
      }
}

@media only screen and (min-width: 980px) and (max-height: 800px) {
  
}