@media only screen and (min-width: 1024px) {
    .output {
        display:flex;
        flex-direction: row;        
        justify-content: start;
        align-items: center;   
        width:fit-content;     
    }

    .output-sections {                                        
        background-color: gray;
        max-width:100%;
        color:black;
        font-weight:bold;        
    }

    thead {
        text-align: left;
        background-color: #ff8c38;
    }

    tr:nth-child(even) {
        background-color: lightblue;
    }

    tr:nth-child(odd) {
        background-color: #e6e6e6;
    }

    .cv-table {
        position: fixed;
        top: 32%;
        max-width: 50%;
        height: 30%;
        max-height: 100px;
        overflow-y: auto;
    }

    .profile-napit{
        display:flex;
        flex-direction: row;        
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) {
    .output {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 80%;
        height: vh;
        background-color: rgb(238, 238, 238);
        color: black;
        font-size: 1.5rem;
    }

    .cv-table {
        height: 10%;
        max-height: 30%;
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid;
        overflow-y: scroll;
    }

}