@media only screen and (device-width: 390px) and (device-height: 844px) and (orientation: portrait) {
    .lista {
        width: 100%;
        max-height: 90vh;
        /* Ensures table is visible */
        overflow-y: auto;
        margin-top: 0rem;
        /* Adds spacing to prevent cutting */
    }
}

@media screen and (min-width: 1025px) {
    .lista {
        display: flex;
        flex-direction:column;
        margin-bottom: 3px;
        padding: 2px;
        height: 20vh;
        overflow-y: auto,
    }
}