@media only screen and (min-width: 1023px) {

  :root {
    --primary-color: #961b00;
    --header-background-color: #2c3e50;
    --header-text-color: #FFFFFF;
    --footer-background-color: #2c3e50;
    --footer-text-color: #FFFFFF;

    --secondary-color: #490db9;
    --accent-color: #af9bd4;
    --main-content-background-color: #f4f4f4;
    --text-color: black;
    --main-content-background-text-color: #333333;
  }

  * {
    box-sizing: border-box;
  }

  html,

  body {
    margin-left: 5rem;
    margin-bottom: 5rem;
    padding: 0;
    box-sizing: border-box;
    min-height: 80vh;
  }

  body::-webkit-scrollbar {
    display: false;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    max-width: 100%;
    height: calc(100vh - 10rem);
    border-radius: 1rem;
    zoom: 1.1;
  }

  .pyynnot {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 15%;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .profile {
    display: flex;    
    justify-content: flex-start;
    align-items: center;    
    width:30vw;
    height: 70vh;    
  margin-left: -20rem;
  }

  .profile-button,
  .profile img {
    border-radius: 1rem;
    margin-left: 0rem;
  }
  

  .cleanpage {
    background-color: white;
  }

  .opit {
    display: flex;
    position: fixed;
    top: 20%;
    left: 15%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: auto;
    padding: 1rem;

  }

  .register {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
    font-size: 1.5rem;
  }

  .userLogin {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
  }

  .output {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    background-color: white;
  }

  .output-two {
    display: flex;
    gap: 1rem;
    flex: 1 1 calc(50% - 1rem);
  }

  .output h3 {
    margin-bottom: 1px;
    justify-content: left
  }


  .work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  h1 {
    margin-top: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
    text-align: left;
  }

  .accessrequest {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4 rem;
  }

  #shoppingCart {
    margin-left: auto;
    color: red
  }

  .tuntikirjaus {
    display: flex;
    position: fixed;
    top: 20%;
    left: 15%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem;
    width: 20vw;
  }

  .tarjouspyynto {
    display: flex;
    position: fixed;
    top: 8%;
    left: 22%;
    justify-content: center;
    align-items: center;
    padding: 1rem;    
    margin-top: auto;
  }

  .tarjouspyynto .MuiGrid-container {
    max-width: 100vw;
    width: 50vw;
    max-height: 60hv;
    height: 40%;
    background-color: #fff;    
    padding: 0.5rem;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    border-radius: 8px;    
    gap:1rem;
  }

  .tunnus {
    max-width: 80%;    
    margin: 0 auto;    
    padding: 20px;    
    box-sizing: border-box;    
  }

  .tarjous {
    max-width: 80%;
    width: 60%;
    margin: 0 auto;
    /* Center the container */
    padding: 20px;
    /* Add padding around the content */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's width and height */
  }

  .tarjous-osapuolet {
    display: flex;
    gap: 1rem
  }

  .tarjous-osapuoli {
    flex: 1;
    padding: 1rem;
    background-color: #f0f0f0;
    /* Optional: Sets a background color for visibility */
    border: 1px solid #ccc;
    /* Optional: Adds a border around each section */
  }
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.catalog--card {
  flex: 1 1 20%;
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 0.2rem;
  justify-content: center;
  text-align: left;
  width: 40%;
}

.catalog--card h3 {
  padding: 0.5rem;
  background: lightblue
}

.catalog--card input {
  width: 5rem;
  margin-right: 10px;
  line-height: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.catalog--card button {
  margin-top: 1rem;
}

#kpl {
  margin-left: 1rem;
}

.calendar {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items from the top */
  height: 90vh; /* 10% decrease from the top */
  padding-top: 10vh; /* Push down 10% from the top */
}

.calendar-form {
  margin-top: 0;
  margin-left:0;
  flex: 1; /* Takes up available space on the left */
  max-width: 300px; /* Adjust width of the form */
  margin-right: 2rem; /* Space between form and task rows */
}

.calendar-task-row {
  flex: 3; /* Takes up more space compared to the form */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between each task row */
}

/* Optional: Styling for items inside calendar-task-row */
.calendar-task {
  padding: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
}



.confirmation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background */
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  z-index: 1000;
  /* Ensure it sits above all other content */
}

.confirmation-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}


.mail {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  gap: 1rem;
}

.confirmation-content button {
  margin: 1rem;
  width: 4rem;
}

#ok {
  padding: 0.5rem;
  background-color: green;
  font-weight: bold;
}

#nok {
  padding: 0.5rem;
  background-color: red;
  font-weight: bold;
}

#saveButton {
  margin-top: 4rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.lasku {
  margin-top: 200px;
  margin-bottom: 200px;
}

#offer-button {
  color: white;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 10rem;
  font-size: 12px;
}

#softaapu-logo {
  width: "34rem";
  height: "34rem";
}


.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: var(--header-text-color) !important;
  border-radius: 0.2rem;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  padding-right: 10px;
  font-size: 1rem;
}


.header-left Link {
  justify-content: flex-start;
  align-items: flex-start;
}


header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 10px;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

.footer {
  display: flex;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--footer-background-color);
  justify-content: center;
  align-items: center;
}

.footer-items {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.footer-items img {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

.home {
  display: flex;
  position: fixed;
  top: 0%;
  left: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  font-size: medium;
  font-weight: 550;
  height: 100vh;
}

.home-welcome {
  padding: 1rem;
}

.home-welcome h1 {
  width: auto;
  font-weight: 700;
  font-size: 2rem;
}

.host-nav {
  display: flex;
  position: fixed;
  top: 10%;
  left: 25%;
  justify-content: center;
  /* Center nav items horizontally */
  align-items: flex-start;
  /* Adjust if needed */
  padding: 10px;
  /* Padding around the nav */
  font-weight: 700;
  /* Bold text */


  background-color: #f0f0f0;
  /* Optional: Background color for visibility */

}

.host-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* Remove underline from links */
  color: #333;
  /* Dark text color */
  font-size: 16px;
  /* Adjust the font size */
  padding: 8px 16px;
  /* Space inside each link */
  transition: color 0.3s ease;
  /* Smooth color transition on hover */
}

.host-nav a:hover {
  color: #007bff;
  /* Change link color on hover */
}

h3.cv-contact-title {
  margin-top: 40px;
  margin-left: 0px;
}

#mailIcon {
  margin-top: 120px;
}

.login--form {
  display: grid;
  grid-template-columns: auto;
  margin-left: 2rem;
  gap: 3px;
  text-align: left;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
  background-color: rgb(182, 207, 219);
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
}

.login--form input {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: fit-content;
}

.login--form label {
  margin: 1rem;
}

.login--form button {
  margin: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  width: fit-content;
}


.row {
  display: table-row;

  font-size: 14px;
  text-align: left;
  justify-content: left;
  border-bottom: 1px solid;
  margin-left: 2%;
}

.cell {
  display: table-cell;
  padding: 2rem
}

.logout-text {
  width: 50%;
  height: 50%;
}

.profile {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.profile--card {
  padding: 1rem;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.tech--general {
  text-align: left;
  margin-top: 30px;
  margin-left: 2%;
}

.tech--thead,
.education--thead {
  text-align: left;
  margin-top: 6%;
  background-color: #ff8c38;
}

.tech--table,
.education--table {
  display: table;
  margin-top: 30px;
  margin-bottom: 2%;
  margin-left: 2%;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: #e6e6e6;
}

.hire--whys {
  margin-top: 10px;
}

.places {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(68, 14, 14);
}

@media only screen and (max-width: 980px) and (max-height: 1900px) and (orientation: portrait) {

  :root {
    --primary-color: #ff5733;
    --secondary-color: ;
    --accent-color: #00aaff;
    --background-color: var(--secondary-color);
    --text-color: #0c0c0c;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-size: 2rem;
    font-family: bold;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    margin-top: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
    text-align: left;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 3rem;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: medium;
    overflow: auto;
    zoom: 1.3;
  }

  .add-customer-textFieldGroup {
    margin: 0.5rem;
    font-weight: 700;
    color: "red";
  }

  .profile--table {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 2rem;
    justify-content: start;
  }

  .profile--card {
    padding: 10px;
    font-size: 14px;
    font-family: bold;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }

  .logout-text {
    width: 50%;
    height: 50%;
  }

  .footer {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    justify-content: space-between;
  }

  .footer-items img {
    width: 48px;
    height: 48px;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--header-text-color) !important;
    border-radius: 0.2rem;
  }

  .header-left {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1.3rem;
  }

  header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 10px;
  }

  header a:hover {
    color: #161616;
    text-decoration: underline;
  }

  .host-nav {
    display: flex;
    /* Align items horizontally */
    justify-content: center;
    /* Space out the links */
    align-items: center;
    /* Center links vertically */
    padding: 10px;
    /* Add padding around the nav */
    font-weight: 700;
    margin-bottom: 20rem;
    margin-left: -10rem;

  }

  .host-nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Dark text color */
    font-size: 16px;
    /* Adjust the font size */
    padding: 8px 16px;
    /* Space inside each link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
  }

  .host-nav a:hover {
    color: #007bff;
    /* Change link color on hover */
  }

  .link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .link-button:hover {
    transform: translate(1px, 1px);
  }


  .register {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
    font-size: 1.5rem;

  }


  .userLogin {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
    font-size: 1.5rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
  }

  .home-welcome {
    padding: 1rem;
  }

  .home-welcome h1 {
    margin: 0 auto;
    width: auto;
    font-weight: 700;
    font-size: 2rem;
  }

  .host-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #offer-button {
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 20px;

    background-color: darkblue;
    color: white;
    margin-left: 100/2;
    margin-right: 100/2;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border: 2px solid;
    border-radius: 5px;
  }

  textArea {
    width: 400px;
    height: 200px;
    padding: 10px;
    font-size: larger;
  }

  .taulu {
    display: table;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;
    justify-content: left;
  }

  .taulu>td {
    white-space: pre-line;
    margin-left: 2rem;
  }

  .row {
    display: table-row;
    border-bottom: #161616;
    border: 1px solid;

  }

  .cell {
    display: table-cell;
    padding: 1px;
    margin-left: 2rem;
  }

  .confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: left;
    z-index: 1000;
    /* Ensure it sits above all other content */
  }

  .confirmation-content {
    background: white;
    padding: 3px;
    border-radius: 8px;
    text-align: left;
    max-width: 10rem;
    width: 100%;
  }

  .confirmation-content button {
    margin-top: 0.5rem;
    width: fit-content;
    text-align: start;
  }

  #ok {
    padding: 0.5rem;
    background-color: green;
    font-weight: bold;
  }

  #nok {
    padding: 0.5rem;
    background-color: red;
    font-weight: bold;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 2rem;
    margin-left: 1rem;
    width: 200px;
  }

  .photo-grid img {
    width: 50%;
    height: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #softaapu-logo {
    width: "15rem";
    height: "15rem";
  }

  #saveButton {
    margin-top: 4.5rem;
  }

  .calendar {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
  }

  .calendar input {
    padding: 1rem;
    column-gap: 1rem;
    margin-top: 0.3rem;
  }

  .calendar li {
    background-color: orange;
    padding: 5px 10px;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: black;
    display: flex;
    align-items: left;
    transition: background-color 0.3s;
  }

  #calRemover {
    display: flex;
    position: fixed;
    transform: translateY(-1rem);
  }


  .login--form {
    display: grid;
    grid-template-columns: auto;
    margin-left: 0rem;
    gap: 3px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(182, 207, 219);
    font-size: 14px;
    font-weight: bold;
  }

  .login--form input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 6rem;
  }

  .login--form label {
    margin: 0.5rem;
  }

  .login--form button {
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: fit-content;
  }

  .places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(27, 26, 26);
  }


  .tarjouspyynto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
    margin-top: 3rem;
  }

  .tarjouspyynto .MuiGrid-container {
    max-width: 80%;
    /* Set a max width for the form */
    width: 70%;
    max-height: 60%;
    line-height: 1rem;
    font-size: large;
    height: 40%;
    background-color: #fff;
    /* Set a white background for the form */
    padding: 2rem;
    /* Add padding inside the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    border-radius: 8px;
    /* Round the corners slightly */
    gap: 1rem;
  }

  .tarjous {
    display: flex;
    flex: wrap;
    margin-top: 1rem;
    gap: 2rem;
    justify-content: flex-start;
  }

  .tuntikirjaus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
    width: fit-content;
  }
}