@media only screen and (max-resolution: 249dpi) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin-left: 4rem;
    margin-right: 5rem;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: true;
  }

  .confirmation-container{
    display:flex;
    border:1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:fit-content;
    padding: 1rem;
    margin: 0 auto;
  }

  .confirmation-content button{        
    margin: 1rem;
    width:4rem;    
  }

  #ok{
    padding:0.5rem;
    background-color: green;
    font-weight: bold;
  }

  #nok{
    padding:0.5rem;
    background-color: red;
    font-weight: bold;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  #root {
    display:flex;
    padding: 1rem;
    text-align: center;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
  }

  .photo-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Space between photos */
    margin-top:2rem;
    margin-left: 1rem;
    width:200px;
  }

  .photo-grid img {
    width: 100%;
    height:auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .app-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    background-color: #F9F9F9;    
    color:#0c0c0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    color: #57771c;
    text-align: center;
  }

  
  header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
  }

  header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 20px;
  }

  header a:hover {
    color: #161616;
    text-decoration: underline;
  }

  .output--text {
    margin-left:1rem;
    margin-right:2rem;
    margin-top: 1rem;
    text-align: left;
    line-height: 2.5rem;
    justify-content: left;
  }

  .link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .link-button:hover {
    transform: translate(1px, 1px);
  }

  .home-container {
    padding: 1rem;
    margin: 0 auto;
    font-size: 14px;
    font-family: bold;
    text-align: left;
    justify-content: center;
    align-items: center;
    width:fit-content;   
  }

  .home-container h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 32px;
  }

  .host-nav {
    display: flex;
  }

  .host-nav a {
    text-decoration: none;
    color: #5a18d3;
    font-weight: 700;
    padding: 5px 20px;
  }

  .host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
  }

  h3.cv-contact-title {
    margin-top: 40px;
    margin-left: 0px;
  }

  .sos {
    font-family: bold;
    font-size: 14px;
    line-height: 18px;
    margin-top: -4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  #mailIcon {
    margin-top: 120px;
  }

  .login--form {
    display: grid;
    grid-template-columns: auto;
    margin-left: 100px;
    gap: 3px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: yellow;
    font-size: 14px;
    font-weight: bold;
  }

  .login--form input {
    padding: 2px;
  }

  .login--form button {
    border-radius: 5px;
  }


  .row {
    display: table-row;

    font-size: 14px;
    text-align: left;
    justify-content: left;
    border-bottom: 1px solid;
    margin-left: 2%;
  }

  .cell {
    display: table-cell;
    padding: 8px;
  }

  .logout-text {
    width: 50%;
    height: 50%;
  }


  .profile--table {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    justify-content: start;
  }

  .profile--card {
    padding: 10px;
    font-size: 14px;
    font-family: bold;    
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-bottom:10px;
  }

  .tech--general {
    text-align: left;
    margin-top: 30px;
    margin-left: 2%;
  }

  .tech--thead, .education--thead {
    text-align: left;
    margin-top: 6%;
    background-color: #ff8c38;
  }

  .tech--table, .education--table {
    display: table;
    margin-top: 30px;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  tr:nth-child(even) {
    background-color: lightblue;
  }

  tr:nth-child(odd) {
    background-color: #e6e6e6;
  }

  .hire--whys {
    margin-top: 10px;
  }

}

@media only screen and (min-resolution: 250dpi) {

  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 10px;
    font-size: 14px;
    color: #0c0c0c;
    background-color: #eaeef1;
    font-family: "Inter", sans-serif;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #root {
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 1rem;
    text-align: center;
  }


  .profile--table {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    justify-content: start;
  }

  .profile--card {
    padding: 10px;
    font-size: 14px;
    font-family: bold;    
    border: 1px solid;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
    margin-bottom:10px;
  }
  
  .logout-text {
    width: 50%;
    height: 50%;
  }


  .app-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* Full viewport height */
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .sos {
    margin-top: -4rem;
    font-family: bold;
    font-size: 14px;
    line-height: 20px;
    align-items: left;
    margin-left: 0px;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    flex-wrap: wrap;
    color: #131212;
    text-align: center;
  }

  header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 10px;
  }

  header a:hover {
    color: #161616;
    text-decoration: underline;
  }

  .host-nav {
    display: flex;
  }

  .host-nav a {
    text-decoration: none;
    color: #bd2222;
    font-weight: 500;
    padding: 5px 10px;
  }

  .host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
  }

  .link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .link-button:hover {
    transform: translate(1px, 1px);
  }

  .home-container {
    color: black;
    padding: 5px 2px;
    font-family: bold;
    text-align: left;
    justify-content: left;
    font-size: 14px;
    font-family: bold;
  }

  .home-container h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
  }

  textArea {
    width: 400px;
    height: 200px;
    padding: 10px;
    font-size: larger;
  }

  .output--text {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: left;
    justify-content: left;
  }

  .taulu {
    display: table;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
    justify-content: left;
  }

  .taulu>td {
    white-space: pre-line;
  }

  .row {
    display: table-row;
    border-bottom: #161616;
    border: 1px solid;
  }

  .cell {
    display: table-cell;
    padding: 1px;
  }

  .confirmation-container{
    display:flex;
    border:1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:fit-content;
    padding: 1rem;
    margin: 0 auto;
  }

  .confirmation-content button{        
    margin: 1rem;
    width:4rem;    
  }

  #ok{
    padding:0.5rem;
    background-color: green;
    font-weight: bold;
  }

  #nok{
    padding:0.5rem;
    background-color: red;
    font-weight: bold;
  }

  .photo-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Space between photos */
    margin-top:2rem;
    margin-left: 1rem;
    width:200px;
  }

  .photo-grid img {
    width: 100%;
    height:auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}