@media only screen and (min-width: 1101px) and (max-height: 1700px) {
  :root {
    --primary-color: #F0F8FF;
    --primary-mobile-color: rgb(137, 92, 30);
    --header-background-color: #2c3e50;
    --header-text-color: #FFFFFF;
    --footer-background-color: #2c3e50;
    --footer-text-color: #FFFFFF;

    --secondary-color: #490db9;
    --accent-color: #af9bd4;
    --main-content-background-color: #f4f4f4;
    --text-color: black;
    --main-content-background-text-color: #333333;
  }

  * {
    box-sizing: border-box;
  }

  html,

  body {
    margin-bottom: 5rem;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("../public/Images/syksy.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  body::-webkit-scrollbar {
    display: true;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .app-container {    
    position: fixed;
    top: 2%;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100vh - 3rem);
    border-radius: 1rem;
    border: 1px solid;
    
  }

  .home {
    position:fixed;
    top:20%;
    left:5%;
    display: flex;
    margin-right:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left:1rem;    
    font-weight: 500;
    font-size: 12px;        
    height:50vh;
    gap: 1rem;        
    z-index:1;
    background-color: rgba(214, 214, 187, 0.72);
    border-radius:1rem;    
    font-weight: 700;
  }

  #home-nappi {
    margin-left:-1rem;
    color: white;
    font-weight: 700;
    margin-top: 1rem;    
    font-size: 12px;
    background-color: #808488;
  }

  .home-welcome {  
    text-align: justify;    
    font-size: 0.5rem;
  }


  .home img {
    width: 50%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
  }


  .tarjouspyynto {
    position: fixed;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 50vw;    
    padding: 0.5rem;    
  }

  .tarjouspyynto-header {
    width: 100%;
    padding-bottom: 0.1rem;
    background-color: rgba(214, 214, 187, 0.72);
    text-align: center;
  }

  .tarjouspyynto-content {
    /* The scrollable area */
    background-color: rgba(214, 214, 187, 0.72);
    font-size: 1rem;
    padding: 0.1rem;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 1rem;    
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid;
    height: 60vh;
  }

  .tarjouspyynto-napit {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 18px;
    gap: 0.5rem;
    margin-bottom:2rem;

  }

  .tarjouspyynto .MuiGrid-container .MuiTextField-root {
    width: 100%;    
    /* Make input fields take the full width */
    font-size: 1rem;
    /* Increase font size */
    
    /* Increase padding inside the input fields */
    line-height: 2rem;
    /* Adjust line height */
    border-radius: 6px;
    /* Round the corners of the input fields */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
  }


  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 70vh;
    margin-left: -20rem;
  }

  .profile-button,
  .profile img {
    border-radius: 1rem;
    margin-left: 0rem;
  }

  .cleanpage {
    background-color: white;
  }

  .opit {
    display: flex;
    position: fixed;
    top: 20%;
    left: 15%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: auto;
    padding: 1rem;
  }

  .register {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: -10%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
    font-size: 1.2rem;
  }

  .userLogin {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: -10%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    height: 60vh;

  }

  .output {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 7%;
    left: 0;
    align-items: center;
    /* Center align horizontally */
  }

  .output-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* Ensure it takes full width */
    align-items: flex-start;
    overflow-y: auto;
    margin-left: 1rem;
  }

  .output h3 {
    margin-bottom: 1px;
    justify-content: left
  }


  .work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  h1 {
    margin-top: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
    text-align: left;
  }

  .accessrequest {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4 rem;
  }

  #shoppingCart {
    margin-left: auto;
    color: red
  }

  .tuntikirjaus {
    display: flex;
    position: fixed;
    top: 20%;
    left: 15%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem;
    width: 20vw;
  }


  .tunnus {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 14%;
    left: 23%;
    max-width: 80%;
    padding: 3rem;
    box-sizing: border-box;
    row-gap: 1rem;
  }

  .tunnus-tili {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12rem;
  }

  .tunnus List {
    width: 12rem;
  }

  .tarjouslomake h1,
  .tarjouslomake {
    display: flex;
    position: fixed;
    top: 16%;
    width: 90%;
    left: 10%;
    justify-content: center;
    margin: rem;
  }

  .tarjouslomake-nappi {
    display: flex;
    flex-direction: row;
    width: 20rem;
    gap: 1rem;
  }

  .tarjouslomake .MuiContainer-root {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .tarjouslomake .MuiTypography-h4,
  .tarjouslomake .MuiTypography-h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .tarjouslomake-asiakas,
  .tarjouslomake-tarjoaja {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next row */
    width: 50rem;
    gap: 1rem;
    /* This will now apply both row and column gaps */
  }


  .tarjouslomake-osapuolet {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* Sets gap between both columns and rows */
  }


  .tarjouslomake .MuiGrid-container {
    margin-bottom: 1.5rem;
  }

  .tarjouslomake-matkakulut {
    margin-top: -3rem;
  }

  .tarjouslomake .MuiGrid-item {
    display: flex;
    flex-direction: column;
  }

  .tarjouslomake .MuiButton-contained {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #1976d2;
    color: white;
  }

  .tarjouslomake .MuiButton-contained:hover {
    background-color: #1565c0;
  }

  .tarjouslomake .MuiTextField-root {
    margin-bottom: 1rem;
  }

  .tarjouslomake .MuiTextField-root input {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: flex-start;
  }

  .tarjouslomake .MuiBox-root {
    margin-bottom: 1rem;
  }

  .tarjouslomake .MuiTypography-body1 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .tarjouslomake .MuiTypography-subtitle1 {
    font-size: 1rem;
    color: #666;
  }

  .tarjouslomake .MuiButton-root {
    display: flex;
    margin-top: 0.1rem;
    height: 10px;
    text-align: center;
    justify-content: center;
  }

  .tarjouslomake .MuiButton-root {
    background-color: #2196f3;
  }

  .tarjouslomake .MuiButton-root:hover {
    background-color: #1976d2;
  }

  .catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .catalog--card {
    flex: 1 1 20%;
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 0.2rem;
    justify-content: center;
    text-align: left;
    width: 40%;
  }

  .catalog--card h3 {
    padding: 0.5rem;
    background: lightblue
  }

  .catalog--card input {
    width: 5rem;
    margin-right: 10px;
    line-height: 2rem;
    padding: 0.5rem;
    text-align: center;
  }

  .catalog--card button {
    margin-top: 1rem;
  }

  #kpl {
    margin-left: 1rem;
  }

  .calendar {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: flex-start;
    /* Align items from the top */
    max-height: 70vh;
    /* 10% decrease from the top */
    padding-top: 10vh;
    /* Push down 10% from the top */
  }

  .calendar-form {
    display: flex;
    flex-direction: column;
    margin-top: 20;
    flex: 1;
    /* Takes up available space on the left */
    max-width: 15vw;
    /* Adjust width of the form */
    margin-right: 2rem;
    /* Space between form and task rows */
    gap: 1rem;
    height: 40vh;
  }

  .calendar-task-row {
    flex: 3;
    /* Takes up more space compared to the form */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Space between each task row */
  }

  /* Optional: Styling for items inside calendar-task-row */
  .calendar-task {
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
  }



  .confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    z-index: 1000;
    /* Ensure it sits above all other content */
  }

  .confirmation-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }


  .mail {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    gap: 1rem;
  }

  .confirmation-content button {
    margin: 1rem;
    width: 4rem;
  }

  #ok {
    padding: 0.5rem;
    background-color: green;
    font-weight: bold;
  }

  #nok {
    padding: 0.5rem;
    background-color: red;
    font-weight: bold;
  }

  #saveButton {
    margin-top: 4rem;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  .lasku {
    margin-top: 200px;
    margin-bottom: 200px;
  }


  #softaapu-logo {
    width: "34rem";
    height: "34rem";
  }


  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--header-text-color) !important;
    border-radius: 0.2rem;
    background-color: rgba(242, 183, 88, 0.604);
  }

  .header-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1rem;    
    
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    padding-right: 10px;
    font-size: 1rem;    
  }


  .header-left Link {
    justify-content: flex-start;
    align-items: flex-start;
  }


  header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 10px;
  }

  header a:hover {
    color: white;
    text-decoration: underline;
  }

  .footer {
    display: flex;
    position: fixed;
    margin: 0 auto;
    width:100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(242, 183, 88, 0.604);
  }

  .footer-items {
    justify-content: flex-end;
    align-items: center;
  }

  .footer-items img {
    margin-right: 20px;
    width: 24px;
    height: 24px;
  }

  .link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .link-button:hover {
    transform: translate(1px, 1px);
  }


  .host-nav {
    display: flex;
    position: fixed;
    top: 10%;
    left: 25%;
    justify-content: center;    
    align-items: flex-start;        
    font-weight: 700;    
  }

  .host-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Dark text color */
    font-size: 16px;
    /* Adjust the font size */
    padding: 8px 16px;
    /* Space inside each link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
  }

  .host-nav a:hover {
    color: #007bff;
    /* Change link color on hover */
  }

  h3.cv-contact-title {
    margin-top: 40px;
    margin-left: 0px;
  }

  #mailIcon {
    margin-top: 120px;
  }

  .login--form {
    display: grid;
    grid-template-columns: auto;
    margin-left: 2rem;
    gap: 3px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(182, 207, 219);
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
  }

  .login--form input {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: fit-content;
  }

  .login--form label {
    margin: 1rem;
  }

  .login--form button {
    margin: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: fit-content;
  }


  .row {
    display: table-row;

    font-size: 14px;
    text-align: left;
    justify-content: left;
    border-bottom: 1px solid;
    margin-left: 2%;
  }

  .cell {
    display: table-cell;
    padding: 2rem
  }

  .logout-text {
    width: 50%;
    height: 50%;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    margin-top: -2rem;
  }

  .profile--card {
    padding: 1rem;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  .tech--general {
    text-align: left;
    margin-top: 30px;
    margin-left: 2%;
  }

  .tech--thead,
  .education--thead {
    text-align: left;
    margin-top: 6%;
    background-color: #ff8c38;
  }

  .tech--table,
  .education--table {
    display: table;
    margin-top: 30px;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  tr:nth-child(even) {
    background-color: lightblue;
  }

  tr:nth-child(odd) {
    background-color: #e6e6e6;
  }

  .hire--whys {
    margin-top: 10px;
  }

  .places {
    display: flex;
    position: fixed;
    top: 15%;
    left: 25%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(68, 14, 14);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) and (max-height: 2400px) {

  :root {
    --primary-color: #ff5733;
    --secondary-color: ;
    --accent-color: #00aaff;
    --background-color: #FFFFFF;
    --container-color: #E0F7FA;
    --text-color: #2C3E50;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    background-color: rgba(238, 232, 232, 0.5);
    border-radius: 10px;
    border: 3px solid #fff;
    width: 10px;
  }

  html,
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    /* Ensures good spacing between lines for readability */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    margin-top: 2rem;
    font-size: 28px;
    font-weight: 700;
  }

  h3 {
    margin-bottom: 2rem;
    text-align: left;
  }

  .app-container {
    display: flex;
    position: fixed;
    top: 1%;
    left: 48%;
    bottom: 4%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: calc(100vh - 10rem);
    margin: 1rem;
    background-color: yellow;
    color: #2C3E50;
    border: 1px solid;
    border-radius: 1rem;
    border: 10px solid;
    border-color: orange;
  }

  .home {
    display: flex;
    position: fixed;
    top: -10%;
    left: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;    
    margin: 2rem;
    height: 100vh;
    width: fit-content;
    font-size: 2rem;
  }

  .home h1 {
    text-align: left;
    font-size: 2.25rem;
  }

  .home-welcome {
    padding: 1rem;
  }

  .host-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #home-nappi {
    background-color: #0c0c0c;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 1rem;
  }


  .add-customer-textFieldGroup {
    margin: 0.5rem;
    font-weight: 700;
    color: "red";
  }

  .profile--table {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 2rem;
    justify-content: start;
  }

  .profile--card {
    padding: 10px;
    font-size: 14px;
    font-family: bold;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }

  .logout-text {
    width: 50%;
    height: 50%;
  }

  .footer {
    display: flex;
    position: fixed;
    z-index: 10;
    bottom: 0rem;
    width: 100%;
    left: 49.6%;
    transform: translateX(-50%);
    width: 100%;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
  }

  .footer-items {
    height: auto;
  }

  .footer-items img {
    width: 48px;
    height: 48px;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--header-text-color) !important;
    background-color: orange;
    border-radius: 0.2rem;
    zoom: 1.6
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
  }

  header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 10px;
  }

  header a:hover {
    color: #161616;
    text-decoration: underline;
  }

  .host-nav {
    display: flex;
    /* Align items horizontally */
    justify-content: center;
    /* Space out the links */
    align-items: center;
    /* Center links vertically */
    padding: 10px;
    /* Add padding around the nav */
    font-weight: 700;
    margin-bottom: 20rem;
    margin-left: -10rem;
  }

  .host-nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Dark text color */
    font-size: 16px;
    /* Adjust the font size */
    padding: 8px 16px;
    /* Space inside each link */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
  }

  .host-nav a:hover {
    color: #007bff;
    /* Change link color on hover */
  }

  .link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .link-button:hover {
    transform: translate(1px, 1px);
  }


  .register {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 25%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    width: 50%;
    zoom: 1.3;
    height: auto;
  }

  .userLogin {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 25%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: auto;
    padding: 1rem;
    height: 60vh;
    zoom: 1.3;
  }

  .userLogin Button {
    margin-top: 2rem;
  }

  .userLogin TextField {
    size: 2rem;
  }

  textArea {
    width: 400px;
    height: 200px;
    padding: 10px;
    font-size: larger;
  }

  .taulu {
    display: table;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;
    justify-content: left;
  }

  .taulu>td {
    white-space: pre-line;
    margin-left: 2rem;
  }

  .row {
    display: table-row;
    border-bottom: #161616;
    border: 1px solid;
  }

  .cell {
    display: table-cell;
    padding: 1px;
    margin-left: 2rem;
  }

  .confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: left;
    z-index: 1000;
    /* Ensure it sits above all other content */
  }

  .confirmation-content {
    background: white;
    padding: 3px;
    border-radius: 8px;
    text-align: left;
    max-width: 10rem;
    width: 100%;
  }

  .confirmation-content button {
    margin-top: 0.5rem;
    width: fit-content;
    text-align: start;
  }

  #ok {
    padding: 0.5rem;
    background-color: green;
    font-weight: bold;
  }

  #nok {
    padding: 0.5rem;
    background-color: red;
    font-weight: bold;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 2rem;
    margin-left: 1rem;
    width: 200px;
  }

  .photo-grid img {
    width: 50%;
    height: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #softaapu-logo {
    width: "15rem";
    height: "15rem";
  }

  #saveButton {
    margin-top: 4.5rem;
  }

  .calendar {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
  }

  .calendar input {
    padding: 1rem;
    column-gap: 1rem;
    margin-top: 0.3rem;
  }

  .calendar li {
    background-color: orange;
    padding: 5px 10px;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: black;
    display: flex;
    align-items: left;
    transition: background-color 0.3s;
  }

  #calRemover {
    display: flex;
    position: fixed;
    transform: translateY(-1rem);
  }


  .login--form {
    display: grid;
    grid-template-columns: auto;
    margin-left: 0rem;
    gap: 3px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(182, 207, 219);
    font-size: 14px;
    font-weight: bold;
  }

  .login--form input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 6rem;
  }

  .login--form label {
    margin: 0.5rem;
  }

  .login--form button {
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: fit-content;
  }

  .places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(27, 26, 26);
  }

  .tarjous {
    display: flex;
    flex: wrap;
    margin-top: 1rem;
    gap: 2rem;
    justify-content: flex-start;
  }

  .tuntikirjaus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
    width: fit-content;
  }

  .tarjouspyynto {
    position: fixed;
    top: 6%;
    left: 7%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 45vh;
    padding: 2rem;
    margin: 1rem;
  }

  .tarjouspyynto-header {
    width: 100%;
    padding-bottom: 0.1rem;
    background-color: orange;
    text-align: center;
  }

  .tarjouspyynto-content {
    /* The scrollable area */
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tarjouspyynto-napit {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 36px;
    gap: 1rem;
  }

  .tarjouspyynto-content .MuiGrid-container {
    /* Set a max width for the form */
    width: 90%;
    height: 20%;
    line-height: 1.4rem;
    background-color: lightcyan;
    /* Set a white background for the form */
    padding: 2rem;
    /* Add padding inside the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    border-radius: 8px;
    /* Round the corners slightly */
    gap: 2rem;
  }

  .tarjouspyynto .MuiGrid-container .MuiTextField-root {
    width: 100%;
    /* Make input fields take the full width */
    font-size: 2rem;
    /* Increase font size */
    padding: 1rem;
    /* Increase padding inside the input fields */
    line-height: 2rem;
    /* Adjust line height */
    border-radius: px;
    /* Round the corners of the input fields */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
  }
}